In [37]:
from pandas.io.html import read_html
import pandas as pd
page='https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_the_United_States#covid19-container'
tables=read_html(page, attrs={'class':'wikitable'})

In [38]:
tables[0]

   [show all]vte2020 coronavirus pandemic in the United States by state and territory  \
                                                           U.S. state or territory[i]
                                                                              55 / 56
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                                NaN
52                                                NaN
53                                                NaN
54                                                NaN
55                                                NaN
56  As of 14 April 2020 (UTC) · History of cases: ...
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \

                                            55 / 56.1
0                                             Alabama
1                                              Alaska
2                                      American Samoa
3                                             Arizona
4                                            Arkansas
5                                          California
6                                            Colorado
7                                         Connecticut
8                                            Delaware
9                                     Washington D.C.
10                                            Florida
11                                            Georgia
12                                               Guam
13                                             Hawaii
14                                              Idaho
15                                           Illinois
16                                            Indiana
17                                               Iowa
18                                             Kansas
19                                           Kentucky
20                                          Louisiana
21                                              Maine
22                                           Maryland
23                                      Massachusetts
24                                           Michigan
25                                          Minnesota
26                                        Mississippi
27                                           Missouri
28                                            Montana
29                                           Nebraska
30                                             Nevada
31                                      New Hampshire
32                                         New Jersey
33                                         New Mexico
34                                           New York
35                                     North Carolina
36                                       North Dakota
37                           Northern Mariana Islands
38                                               Ohio
39                                           Oklahoma
40                                             Oregon
41                                       Pennsylvania
42                                        Puerto Rico
43                                       Rhode Island
44                                     South Carolina
45                                       South Dakota
46                                          Tennessee
47                                              Texas
48                                               Utah
49                                U.S. Virgin Islands
50                                            Vermont
51                                           Virginia
52                                         Washington
53                                      West Virginia
54                                          Wisconsin
55                                            Wyoming
56  As of 14 April 2020 (UTC) · History of cases: ...
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                            Cases[ii]
                                              549,329
0                                                3274
1                                                 272
2                                                   0
3                                                3539
4                                                1475
5                                               22348
6                                                7303
7                                               12035
8                                                1761
9                                                1959
10                                              20601
11                                              13315
12                                                133
13                                                504
14                                               1426
15                                              22025
16                                               8236
17                                               1710
18                                               1376
19                                               2041
20                                              21016
21                                                633
22                                               8225
23                                              26867
24                                              25635
25                                               1650
26                                               2781
27                                               4160
28                                                387
29                                                871
30                                               2836
31                                               1020
32                                              64584
33                                               1345
34                                             195031
35                                               4816
36                                                331
37                                                 11
38                                               6518
39                                               2069
40                                               1584
41                                              22833
42                                                903
43                                               2665
44                                               3439
45                                                868
46                                               5308
47                                              13906
48                                               2303
49                                                 51
50                                                679
51                                               5274
52                                              10224
53                                                611
54                                               3341
55                                                275
56  As of 14 April 2020 (UTC) · History of cases: ...
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                               Deaths
                                               21,794
0                                                  89
1                                                   8
2                                                   0
3                                                115i
4                                                  30
5                                                 687
6                                                 290
7                                                 554
8                                                  41
9                                                  53
10                                                470
11                                                464
12                                                  5
13                                                  9
14                                                 27
15                                                794
16                                                350
17                                                 43
18                                                 62
19                                                 97
20                                                884
21                                                 19
22                                                235
23                                                844
24                                               1602
25                                                 70
26                                                 96
27                                                110
28                                                  6
29                                                 18
30                                                112
31                                                 23
32                                               2443
33                                                 31
34                                              10056
35                                                 86
36                                                  8
37                                                  2
38                                                248
39                                                 99
40                                                 53
41                                                507
42                                                 45
43                                                 63
44                                                 87
45                                                  6
46                                                101
47                                                287
48                                                 18
49                                                  1
50                                                 24
51                                                141
52                                                491
53                                                  8
54                                                144
55                                                  1
56  As of 14 April 2020 (UTC) · History of cases: ...
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                          Recov.[iii]
                                               34,798
0                                                   –
1                                                  66
2                                                   0
3                                                   –
4                                                 427
5                                                 810
6                                                   –
7                                                   –
8                                                 277
9                                                 507
10                                                  –
11                                                  –
12                                                 58
13                                                310
14                                                  –
15                                                  –
16                                                  –
17                                                741
18                                                  –
19                                                607
20                                                  –
21                                                266
22                                                456
23                                               4316
24                                                  5
25                                                842
26                                                  –
27                                                  –
28                                                169
29                                                  –
30                                                  –
31                                                239
32                                                 92
33                                                  –
34                                              17089
35                                                  –
36                                                127
37                                                  –
38                                                  –
39                                                  –
40                                                  –
41                                                  –
42                                                  –
43                                                  –
44                                                  –
45                                                207
46                                               1504
47                                               2269
48                                                  –
49                                                 43
50                                                  –
51                                                  –
52                                                  –
53                                                 57
54                                                  –
55                                                138
56  As of 14 April 2020 (UTC) · History of cases: ...
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                         Hospital[iv]
                                               86,404
0                                                   –
1                                                  31
2                                                   –
3                                                   –
4                                                   –
5                                                2917
6                                                1417
7                                                1654
8                                                 522
9                                                   –
10                                               2694
11                                               2589
12                                                  –
13                                                 44
14                                                132
15                                                  –
16                                                  –
17                                                926
18                                                309
19                                                  –
20                                               2134
21                                                120
22                                               1860
23                                           2,235[v]
24                                          3,956[vi]
25                                                361
26                                                  –
27                                                  –
28                                                 47
29                                                  –
30                                                  –
31                                                152
32                                        18,493[vii]
33                                                  –
34                                              29387
35                                                  –
36                                                 40
37                                                  –
38                                               1948
39                                                457
40                                                369
41                                               2097
42                                                  –
43                                                  –
44                                                  –
45                                                 44
46                                                567
47                                               3352
48                                                195
49                                                  –
50                                                  –
51                                                872
52                                               4668
53                                                  –
54                                                974
55                                                 41
56  As of 14 April 2020 (UTC) · History of cases: ...
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                                 Ref.
                                                 [26]

In [31]:
tables[0].drop(tables[0].index[56],inplace=True)

In [32]:
tables[0]

   [show all]vte2020 coronavirus pandemic in the United States by state and territory  \
                                                           U.S. state or territory[i]
                                                                              55 / 56
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                                NaN
52                                                NaN
53                                                NaN
54                                                NaN
55                                                NaN
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \

                                            55 / 56.1
0                                             Alabama
1                                              Alaska
2                                      American Samoa
3                                             Arizona
4                                            Arkansas
5                                          California
6                                            Colorado
7                                         Connecticut
8                                            Delaware
9                                     Washington D.C.
10                                            Florida
11                                            Georgia
12                                               Guam
13                                             Hawaii
14                                              Idaho
15                                           Illinois
16                                            Indiana
17                                               Iowa
18                                             Kansas
19                                           Kentucky
20                                          Louisiana
21                                              Maine
22                                           Maryland
23                                      Massachusetts
24                                           Michigan
25                                          Minnesota
26                                        Mississippi
27                                           Missouri
28                                            Montana
29                                           Nebraska
30                                             Nevada
31                                      New Hampshire
32                                         New Jersey
33                                         New Mexico
34                                           New York
35                                     North Carolina
36                                       North Dakota
37                           Northern Mariana Islands
38                                               Ohio
39                                           Oklahoma
40                                             Oregon
41                                       Pennsylvania
42                                        Puerto Rico
43                                       Rhode Island
44                                     South Carolina
45                                       South Dakota
46                                          Tennessee
47                                              Texas
48                                               Utah
49                                U.S. Virgin Islands
50                                            Vermont
51                                           Virginia
52                                         Washington
53                                      West Virginia
54                                          Wisconsin
55                                            Wyoming
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                            Cases[ii]
                                              549,329
0                                                3274
1                                                 272
2                                                   0
3                                                3539
4                                                1475
5                                               22348
6                                                7303
7                                               12035
8                                                1761
9                                                1959
10                                              20601
11                                              13315
12                                                133
13                                                504
14                                               1426
15                                              22025
16                                               8236
17                                               1710
18                                               1376
19                                               2041
20                                              21016
21                                                633
22                                               8225
23                                              26867
24                                              25635
25                                               1650
26                                               2781
27                                               4160
28                                                387
29                                                871
30                                               2836
31                                               1020
32                                              64584
33                                               1345
34                                             195031
35                                               4816
36                                                331
37                                                 11
38                                               6518
39                                               2069
40                                               1584
41                                              22833
42                                                903
43                                               2665
44                                               3439
45                                                868
46                                               5308
47                                              13906
48                                               2303
49                                                 51
50                                                679
51                                               5274
52                                              10224
53                                                611
54                                               3341
55                                                275
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                               Deaths
                                               21,794
0                                                  89
1                                                   8
2                                                   0
3                                                115i
4                                                  30
5                                                 687
6                                                 290
7                                                 554
8                                                  41
9                                                  53
10                                                470
11                                                464
12                                                  5
13                                                  9
14                                                 27
15                                                794
16                                                350
17                                                 43
18                                                 62
19                                                 97
20                                                884
21                                                 19
22                                                235
23                                                844
24                                               1602
25                                                 70
26                                                 96
27                                                110
28                                                  6
29                                                 18
30                                                112
31                                                 23
32                                               2443
33                                                 31
34                                              10056
35                                                 86
36                                                  8
37                                                  2
38                                                248
39                                                 99
40                                                 53
41                                                507
42                                                 45
43                                                 63
44                                                 87
45                                                  6
46                                                101
47                                                287
48                                                 18
49                                                  1
50                                                 24
51                                                141
52                                                491
53                                                  8
54                                                144
55                                                  1
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                          Recov.[iii]
                                               34,798
0                                                   –
1                                                  66
2                                                   0
3                                                   –
4                                                 427
5                                                 810
6                                                   –
7                                                   –
8                                                 277
9                                                 507
10                                                  –
11                                                  –
12                                                 58
13                                                310
14                                                  –
15                                                  –
16                                                  –
17                                                741
18                                                  –
19                                                607
20                                                  –
21                                                266
22                                                456
23                                               4316
24                                                  5
25                                                842
26                                                  –
27                                                  –
28                                                169
29                                                  –
30                                                  –
31                                                239
32                                                 92
33                                                  –
34                                              17089
35                                                  –
36                                                127
37                                                  –
38                                                  –
39                                                  –
40                                                  –
41                                                  –
42                                                  –
43                                                  –
44                                                  –
45                                                207
46                                               1504
47                                               2269
48                                                  –
49                                                 43
50                                                  –
51                                                  –
52                                                  –
53                                                 57
54                                                  –
55                                                138
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                         Hospital[iv]
                                               86,404
0                                                   –
1                                                  31
2                                                   –
3                                                   –
4                                                   –
5                                                2917
6                                                1417
7                                                1654
8                                                 522
9                                                   –
10                                               2694
11                                               2589
12                                                  –
13                                                 44
14                                                132
15                                                  –
16                                                  –
17                                                926
18                                                309
19                                                  –
20                                               2134
21                                                120
22                                               1860
23                                           2,235[v]
24                                          3,956[vi]
25                                                361
26                                                  –
27                                                  –
28                                                 47
29                                                  –
30                                                  –
31                                                152
32                                        18,493[vii]
33                                                  –
34                                              29387
35                                                  –
36                                                 40
37                                                  –
38                                               1948
39                                                457
40                                                369
41                                               2097
42                                                  –
43                                                  –
44                                                  –
45                                                 44
46                                                567
47                                               3352
48                                                195
49                                                  –
50                                                  –
51                                                872
52                                               4668
53                                                  –
54                                                974
55                                                 41
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                                 Ref.
                                                 [26]
0                                                [27]
1                                                [28]
2                                                 NaN
3                                                [29]
4                                                [30]
5                                            [31][32]

In [39]:
tables[0].drop(tables[0].index[56],inplace=True)

In [40]:
tables[0]

   [show all]vte2020 coronavirus pandemic in the United States by state and territory  \
                                                           U.S. state or territory[i]
                                                                              55 / 56
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                                NaN
52                                                NaN
53                                                NaN
54                                                NaN
55                                                NaN
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \

                                            55 / 56.1
0                                             Alabama
1                                              Alaska
2                                      American Samoa
3                                             Arizona
4                                            Arkansas
5                                          California
6                                            Colorado
7                                         Connecticut
8                                            Delaware
9                                     Washington D.C.
10                                            Florida
11                                            Georgia
12                                               Guam
13                                             Hawaii
14                                              Idaho
15                                           Illinois
16                                            Indiana
17                                               Iowa
18                                             Kansas
19                                           Kentucky
20                                          Louisiana
21                                              Maine
22                                           Maryland
23                                      Massachusetts
24                                           Michigan
25                                          Minnesota
26                                        Mississippi
27                                           Missouri
28                                            Montana
29                                           Nebraska
30                                             Nevada
31                                      New Hampshire
32                                         New Jersey
33                                         New Mexico
34                                           New York
35                                     North Carolina
36                                       North Dakota
37                           Northern Mariana Islands
38                                               Ohio
39                                           Oklahoma
40                                             Oregon
41                                       Pennsylvania
42                                        Puerto Rico
43                                       Rhode Island
44                                     South Carolina
45                                       South Dakota
46                                          Tennessee
47                                              Texas
48                                               Utah
49                                U.S. Virgin Islands
50                                            Vermont
51                                           Virginia
52                                         Washington
53                                      West Virginia
54                                          Wisconsin
55                                            Wyoming
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                            Cases[ii]
                                              549,329
0                                                3274
1                                                 272
2                                                   0
3                                                3539
4                                                1475
5                                               22348
6                                                7303
7                                               12035
8                                                1761
9                                                1959
10                                              20601
11                                              13315
12                                                133
13                                                504
14                                               1426
15                                              22025
16                                               8236
17                                               1710
18                                               1376
19                                               2041
20                                              21016
21                                                633
22                                               8225
23                                              26867
24                                              25635
25                                               1650
26                                               2781
27                                               4160
28                                                387
29                                                871
30                                               2836
31                                               1020
32                                              64584
33                                               1345
34                                             195031
35                                               4816
36                                                331
37                                                 11
38                                               6518
39                                               2069
40                                               1584
41                                              22833
42                                                903
43                                               2665
44                                               3439
45                                                868
46                                               5308
47                                              13906
48                                               2303
49                                                 51
50                                                679
51                                               5274
52                                              10224
53                                                611
54                                               3341
55                                                275
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                               Deaths
                                               21,794
0                                                  89
1                                                   8
2                                                   0
3                                                115i
4                                                  30
5                                                 687
6                                                 290
7                                                 554
8                                                  41
9                                                  53
10                                                470
11                                                464
12                                                  5
13                                                  9
14                                                 27
15                                                794
16                                                350
17                                                 43
18                                                 62
19                                                 97
20                                                884
21                                                 19
22                                                235
23                                                844
24                                               1602
25                                                 70
26                                                 96
27                                                110
28                                                  6
29                                                 18
30                                                112
31                                                 23
32                                               2443
33                                                 31
34                                              10056
35                                                 86
36                                                  8
37                                                  2
38                                                248
39                                                 99
40                                                 53
41                                                507
42                                                 45
43                                                 63
44                                                 87
45                                                  6
46                                                101
47                                                287
48                                                 18
49                                                  1
50                                                 24
51                                                141
52                                                491
53                                                  8
54                                                144
55                                                  1
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                          Recov.[iii]
                                               34,798
0                                                   –
1                                                  66
2                                                   0
3                                                   –
4                                                 427
5                                                 810
6                                                   –
7                                                   –
8                                                 277
9                                                 507
10                                                  –
11                                                  –
12                                                 58
13                                                310
14                                                  –
15                                                  –
16                                                  –
17                                                741
18                                                  –
19                                                607
20                                                  –
21                                                266
22                                                456
23                                               4316
24                                                  5
25                                                842
26                                                  –
27                                                  –
28                                                169
29                                                  –
30                                                  –
31                                                239
32                                                 92
33                                                  –
34                                              17089
35                                                  –
36                                                127
37                                                  –
38                                                  –
39                                                  –
40                                                  –
41                                                  –
42                                                  –
43                                                  –
44                                                  –
45                                                207
46                                               1504
47                                               2269
48                                                  –
49                                                 43
50                                                  –
51                                                  –
52                                                  –
53                                                 57
54                                                  –
55                                                138
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                         Hospital[iv]
                                               86,404
0                                                   –
1                                                  31
2                                                   –
3                                                   –
4                                                   –
5                                                2917
6                                                1417
7                                                1654
8                                                 522
9                                                   –
10                                               2694
11                                               2589
12                                                  –
13                                                 44
14                                                132
15                                                  –
16                                                  –
17                                                926
18                                                309
19                                                  –
20                                               2134
21                                                120
22                                               1860
23                                           2,235[v]
24                                          3,956[vi]
25                                                361
26                                                  –
27                                                  –
28                                                 47
29                                                  –
30                                                  –
31                                                152
32                                        18,493[vii]
33                                                  –
34                                              29387
35                                                  –
36                                                 40
37                                                  –
38                                               1948
39                                                457
40                                                369
41                                               2097
42                                                  –
43                                                  –
44                                                  –
45                                                 44
46                                                567
47                                               3352
48                                                195
49                                                  –
50                                                  –
51                                                872
52                                               4668
53                                                  –
54                                                974
55                                                 41
57  ^ U.S. where cases were diagnosed. Nationality...

                                                       \
                                                 Ref.
                                                 [26]
0                                                [27]
1                                                [28]
2                                                 NaN
3                                                [29]
4                                                [30]
5                                            [31][32]

In [41]:
for col in tables[0].columns:
    print(col)

('[show all]vte2020 coronavirus pandemic in the United States by state and territory', 'U.S. state or territory[i]', '55 / 56')
('[show all]vte2020 coronavirus pandemic in the United States by state and territory', 'U.S. state or territory[i]', '55 / 56.1')
('[show all]vte2020 coronavirus pandemic in the United States by state and territory', 'Cases[ii]', '549,329')
('[show all]vte2020 coronavirus pandemic in the United States by state and territory', 'Deaths', '21,794')
('[show all]vte2020 coronavirus pandemic in the United States by state and territory', 'Recov.[iii]', '34,798')
('[show all]vte2020 coronavirus pandemic in the United States by state and territory', 'Hospital[iv]', '86,404')
('[show all]vte2020 coronavirus pandemic in the United States by state and territory', 'Ref.', '[26]')
('Unnamed: 7_level_0', 'Unnamed: 7_level_1', 'Unnamed: 7_level_2')

In [35]:
tables[0].drop(tables[0].index[0],inplace=True)

In [36]:
tables[0]

   [show all]vte2020 coronavirus pandemic in the United States by state and territory  \
                                                           U.S. state or territory[i]
                                                                              55 / 56
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                                NaN
52                                                NaN
53                                                NaN
54                                                NaN
55                                                NaN

                                                                        \
                             Cases[ii] Deaths Recov.[iii] Hospital[iv]
                   55 / 56.1   549,329 21,794      34,798       86,404
1                     Alaska       272      8          66           31
2             American Samoa         0      0           0            –
3                    Arizona      3539   115i           –            –
4                   Arkansas      1475     30         427            –
5                 California     22348    687         810         2917
6                   Colorado      7303    290           –         1417
7                Connecticut     12035    554           –         1654
8                   Delaware      1761     41         277          522
9            Washington D.C.      1959     53         507            –
10                   Florida     20601    470           –         2694
11                   Georgia     13315    464           –         2589
12                      Guam       133      5          58            –
13                    Hawaii       504      9         310           44
14                     Idaho      1426     27           –          132
15                  Illinois     22025    794           –            –
16                   Indiana      8236    350           –            –
17                      Iowa      1710     43         741          926
18                    Kansas      1376     62           –          309
19                  Kentucky      2041     97         607            –
20                 Louisiana     21016    884           –         2134
21                     Maine       633     19         266          120
22                  Maryland      8225    235         456         1860
23             Massachusetts     26867    844        4316     2,235[v]
24                  Michigan     25635   1602           5    3,956[vi]
25                 Minnesota      1650     70         842          361
26               Mississippi      2781     96           –            –
27                  Missouri      4160    110           –            –
28                   Montana       387      6         169           47
29                  Nebraska       871     18           –            –
30                    Nevada      2836    112           –            –
31             New Hampshire      1020     23         239          152
32                New Jersey     64584   2443          92  18,493[vii]
33                New Mexico      1345     31           –            –
34                  New York    195031  10056       17089        29387
35            North Carolina      4816     86           –            –
36              North Dakota       331      8         127           40
37  Northern Mariana Islands        11      2           –            –
38                      Ohio      6518    248           –         1948
39                  Oklahoma      2069     99           –          457
40                    Oregon      1584     53           –          369
41              Pennsylvania     22833    507           –         2097
42               Puerto Rico       903     45           –            –
43              Rhode Island      2665     63           –            –
44            South Carolina      3439     87           –            –
45              South Dakota       868      6         207           44
46                 Tennessee      5308    101        1504          567
47                     Texas     13906    287        2269         3352
48                      Utah      2303     18           –          195
49       U.S. Virgin Islands        51      1          43            –
50                   Vermont       679     24           –            –
51                  Virginia      5274    141           –          872
52                Washington     10224    491           –         4668
53             West Virginia       611      8          57            –
54                 Wisconsin      3341    144           –          974
55                   Wyoming       275      1         138           41

                 Unnamed: 7_level_0
            Ref. Unnamed: 7_level_1
            [26] Unnamed: 7_level_2
1           [28]                NaN
2            NaN                NaN
3           [29]                NaN
4           [30]                NaN
5       [31][32]                NaN
6           [33]                NaN
7           [34]                NaN
8           [35]                NaN
9       [36][37]                NaN
10      [38][39]                NaN
11          [40]                NaN
12          [41]                NaN
13      [42][43]                NaN
14          [44]                NaN
15      [45][46]                NaN
16          [47]                NaN
17      [48][49]                NaN
18          [50]                NaN
19      [51][52]                NaN
20          [53]                NaN
21          [54]                NaN
22          [55]                NaN
23          [56]                NaN
24  [57][58][59]                NaN
25          [60]                NaN
26          [61]                NaN
27      [62][63]                NaN
28          [64]                NaN
29          [65]                NaN
30          [66]                NaN
31          [67]                NaN
32      [68][69]                NaN
33          [70]                NaN
34  [26][71][72]                NaN
35          [73]                NaN
36          [74]                NaN
37          [75]                NaN
38          [76]                NaN
39          [77]                NaN
40          [78]                NaN
41      [79][80]                NaN
42          [81]                NaN
43          [82]                NaN
44          [83]                NaN
45          [84]                NaN
46          [85]                NaN
47          [86]                NaN
48          [87]                NaN
49          [88]                NaN
50          [89]                NaN
51          [90]                NaN
52      [91][26]                NaN
53          [92]                NaN
54      [93][94]                NaN
55          [95]                NaN